.Content-Container {
  width: 1006px;
  position: relative;
}

.App {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-items: center;
  font-family: Roboto;
}

.Header {
  position: absolute;
  width: 100%;
  height: 225px;
  display: flex;
  justify-content: center;
}

.Resume-owner-job-title {
  font-style: normal;
  font-weight: bold;
  color: #ffffff;
  font-size: 24px;
  line-height: 28px;
}

.Rectangle-2 {
  position: absolute;
  width: 586px;
  height: 189px;
  border: 4px solid #000000;
  box-sizing: border-box;
  margin-top: 36px;
  z-index: 1;
  display: flex;
  justify-content: center;
}

.Rectangle-4 {
  position: absolute;
  width: 100%;
  height: 61px;
  background: #7ABCAC;  
}

.Resume-grid-box {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 297px;
  column-gap: 25px;
}

.item1 {
  /* grid-row: 1; */
  height: 205px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

.item2 {
  /* grid-row: 1; */
  grid-column: 2 / 4;
  height: 194px;
}

.item3 {
  /* grid-row: 2; */
}

.item4 {
  /* grid-row: 2; */
}

.item5 {
  /* grid-row: 2; */
}

.item6 {
  display: grid;
  grid-template-columns: auto auto auto;
  /* grid-row: 3; */
  column-gap: 68px;
  margin-top: 35px;
}

.item10 {
  margin-top: 35px;
  margin-bottom: 53px;
}

.Links-Education-ul, .Skils-ul{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  align-items: baseline;
  margin: 33px 0 20px 0;
  padding: 0;
}

.Links-Education-ul li {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 5px;
  padding: 0 10px;
}

.Skils-ul li {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  margin: 10px;
  padding: 0 10px;
  
}

h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
}

.dot {
  width: 30px;
  height: 30px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

.dot:active {
  background: #7ABCAC;
}

.About-me-info {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin: 15px 0;
}

.hr-mini {
  width: 201px;
  height: 4px;
  background: #f1f1f1;
}

hr {
    height: 4px;
    background: #f1f1f1;
    border: none;
    position: relative;
    margin-top: 12px;
}

.Technical-skils-html, .Technical-skils-css {
  border-radius: 11px;
  background-color: #7ABCAC;
}

.Technical-skils-js, .Technical-skils-react {
  border-radius: 11px;
  background-color: #D8DA79;
}

.Work-experience-title {
  margin-top: 50px;
}

.level-advanced {
    display: flex;
    align-items: center;
    width: fit-content;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    margin: 10px 0 10px 0;
    padding: 0 10px;
    border-radius: 11px;
    background-color: #7ABCAC;
}

.level-intermediate {
  display: flex;
  align-items: center;
  width: fit-content;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  margin: 10px 0 10px 0;
  padding: 0 10px;
  border-radius: 11px;
  background-color: #D8DA79;
}

.level-beginer {
  display: flex;
  align-items: center;
  width: fit-content;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  margin: 10px 0 10px 0;
  padding: 0 10px;
  border-radius: 11px;
  background-color: #C29486;
}

img {
  width: 30px;
  height: 30px;
  margin: 10px 5px 5px 0;
}

.links-ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  align-items: baseline;
  margin: 33px 0 20px 0;
  padding: 0;
}

a {
  display: flex;
  align-items: center;
}

.Select-Container {
  display: flex;
  justify-content: flex-end;
}

.LinkedinIcon :hover {
  background: #d60e96;
  color: #fff;
}

@media screen and (max-width:698px) {
  .Resume-grid-box {
    grid-template-columns: auto;
  }
  .item6 {
    grid-template-columns: auto;
    row-gap: 20px;
  }
  .VerticalLine {
    display: none;
  }
  .item2 {
    grid-row: 1;
    grid-column: 1;
  }
}


