 <nav data-sidenav class="nav sidenav-hide">
        <div class="nav__left">
            <a href="home.html">
                <img src="assets/images/logo.svg" alt="Menu">
                <span>MINTON</span>
            </a>
        </div>
        <div class="nav__right">
            <div class="nav__right__menu">
                    <img data-toggle="sidenav" src=" assets/images/menu-24px.svg" alt="Meniu">
                <div class="search-wrapper">
                    <input type="text" name="searchBox" value="Search...">
                    <a href="#">
                        <img src=" assets/images/search-24px.svg">
                    </a>
                </div>
            </div>
            <div class="nav__right__list">
                <ul>
                    <li>
                        <a href="#"><img src=" assets/images/crop_free-24px.svg" alt="Meniu"></a>
                    </li>
                    <li>
                        <a href="#"><img src=" assets/images/more_horiz-24px.svg" alt="Meniu"></a>
                    </li>
                    <li>
                        <a href="#"><img src=" assets/images/notifications-24px.svg" alt="Meniu"></a>
                    </li>
                    <li>
                        <a href="#"><img class="portret__photo" src=" assets/images/portret.jpg" alt="Meniu"></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>