@import 'nav.scss';
@import 'social.scss';
@import 'logo.scss';
@import 'services.scss';
@import 'portfolio.scss';
@import 'about.scss';
@import 'contact.scss';
@import 'hover.scss';
@import 'footer.scss';

body {
    margin: 0;
    background: lightgray;
    height: 100%;
}

body::after {
    content: '';
    display: block;
    height: 130px; 
    background: #403e39;
  }

.mainPage {
    position: relative;
    margin: 0;
    width: fit-content;
    margin-top: 70px;
}
.pimg1 {
    background-image: url("../images/cookies-background.jpg");
    min-height: 800px;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.pimg2 {
    background-image: url("../images/Marble_Surface.jpg");
    min-height: 800px;
    overflow: scroll;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.navigation__border {
    padding-top: 70px;
    __services {
        background-color: #151112;;
    }
    __portfolio {
        background-color: white;
    }
    // __contact {
        
    // }
}
.pimg3 {
    background-image: url("../images/couple.jpg");
    min-height: 520px;
    overflow: scroll;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.pimg4 {
    background-image: url("../images/Marble_Surface.jpg");
    min-height: 1024px;
    overflow: scroll;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
