@media screen and (max-width: 700px) {
    .nav__meniu__list a {display: none;}
    .nav__meniu__list a.icon {
      float: right;
      display: block;
    }
      .social__icons__container {display: none;}
      .icons__mobile {
      float: left;
      display: flex;
      position: absolute;
      left: 20px;
      align-items: center;
    }
  }

  @media screen and (max-width: 600px) {
    .services__section {
      height: 100%;
      &__columns {
        flex-direction: column;
        padding-bottom: 60px;
        &__press__description { 
          max-width: none;
          margin-bottom: 20px;
        }
        &__commercial__description { 
          max-width: none;
          margin-bottom: 20px;
        }
        &__events__description { 
          max-width: none;
          margin-bottom: 20px;
        }
      }
    }
  }
  
  // @media screen and (max-width: 700px) {
  //   .nav.mobile {position: relative;}
  //   .nav.mobile .icon {
  //     position: absolute;
  //     right: 0;
  //     top: 0;
  //   }
  // }

  //   .nav.mobile a {
  //     float: none;
  //     display: block;
  //     text-align: center;
  //   }
  // }

  @media screen and (max-width: 600px) {
    .about__us__content, .contact__content {
      width: 75%;
    }
    .contact__content__box {
      grid-template-columns: auto;
        &__right {
          grid-row: unset;
          grid-column: 1;
        }
    }
  }