@media screen and (max-width: 700px) {
    .nav a {display: none;}
    .nav a.icon {
      float: right;
      display: block;
    }
      .social__icons__container {display: none;}
      .social__icons__container__mobile {
      float: left;
      display: block;
    }
  }
  
  // @media screen and (max-width: 700px) {
  //   .nav.mobile {position: relative;}
  //   .nav.mobile .icon {
  //     position: absolute;
  //     right: 0;
  //     top: 0;
  //   }
  // }

  //   .nav.mobile a {
  //     float: none;
  //     display: block;
  //     text-align: center;
  //   }
  // }

  /* START responsive social icons TOP */

  @media screen and (max-width: 700px) {
    .nav a {display: none;}
    .nav a.icon {
      float: right;
      display: block;
    }
  }

  /* END responsive social icons TOP */

  @media screen and (max-width: 600px) {
    .about__us__content, .contact__content {
      width: 75%;
    }
    .contact__content__box {
      grid-template-columns: auto;
        &__right {
          grid-row: unset;
          grid-column: 1;
        }
    }
  }