@media screen and (max-width: 700px) {
    .nav__meniu__list a {display: none;}
    .nav__meniu__list a.icon {
      float: right;
      display: block;
    }
      .social__icons__container {display: none;}
      .icons__mobile {
      float: left;
      display: flex;
      position: absolute;
      left: 20px;
      align-items: center;
    }

  //   .nav__meniu__list.responsive {position: relative;}
  //   .nav__meniu__list.responsive .icon {
  //   position: absolute;
  //   right: 0;
  //   top: 0;
  // }

    // .nav__meniu__list.responsive a {
    //   float: none;
    //   display: block;
    //   text-align: left;
    // }
  }

  @media screen and (max-width: 600px) {
    .services__section {
      height: 100%;
      &__columns {
        flex-direction: column;
        padding-bottom: 60px;
        &__press__description { 
          max-width: none;
          margin-bottom: 20px;
        }
        &__commercial__description { 
          max-width: none;
          margin-bottom: 20px;
        }
        &__events__description { 
          max-width: none;
          margin-bottom: 20px;
        }
      }
    }
  }

  @media screen and (max-width: 600px) {
    .about__us__content, .contact__content {
      width: 75%;
    }
    .contact__content__box {
      grid-template-columns: auto;
        &__right {
          grid-row: unset;
          grid-column: 1;
        }
    }
  }