<nav class="nav" id="nav__burger">
    <div class="social__icons__container__mobile">
        <ul class="social__icons__container__mobile__ul">
            <li>
                <a href="#">
                    <img src="assets/images/Facebook.png">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/images/Pinterest.png">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/images/Instagram.png">
                </a>
            </li>
        </ul>
    </div>
    <ul>
        <li>
            <a href="#">home</a>
        </li>           
        <li>
            <a href="#services__section">services</a>
        </li>         
        <li>
            <a href="#portfolio__section">portfolio</a>
        </li>           
        <li>
            <a href="#about__us__content">about us</a>
        </li>          
        <li>
            <a href="#contact__content">contact</a>
        </li>   
        <li>
            <a href="#">book online</a>
        </li>
        <li>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars fa-2x"></i>
            </a>
        </li>
    </ul>
</nav>