<nav class="nav">
    <div class="icons__mobile">
        <ul class="icons__mobile__ul">
            <li>
                <a href="#">
                    <img src="assets/images/Facebook.png">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/images/Pinterest.png">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/images/Instagram.png">
                </a>
            </li>
        </ul>
    </div>
    <div class="nav__meniu__list active__element">
        <ul>
            <li>
                <a href="#">home</a>
            </li>           
            <li>
                <a href="#services__section">services</a>
            </li>         
            <li>
                <a href="#portfolio__section">portfolio</a>
            </li>           
            <li>
                <a href="#about__us__content">about us</a>
            </li>          
            <li>
                <a href="#contact__content">contact</a>
            </li>   
            <li>
                <a href="#">book online</a>
            </li>
            <li>
                <a class="icon">
                    <i id="menu__toggle" class="fa fa-bars fa-2x menu__toggle active__element" onclick="myFunction() "></i>
                </a>
            </li>
        </ul>
    </div>
    {{!-- <div class="nav__meniu__list__active active__element" id="">
        <ul>
            <li>
                <a href="#">home</a>
            </li>           
            <li>
                <a href="#services__section">services</a>
            </li>         
            <li>
                <a href="#portfolio__section">portfolio</a>
            </li>           
            <li>
                <a href="#about__us__content">about us</a>
            </li>          
            <li>
                <a href="#contact__content">contact</a>
            </li>   
            <li>
                <a href="#">book online</a>
            </li>
        </ul>
    </div> --}}
</nav>