<nav class="nav">
    <ul>
        <li>
            <a href="#">home</a>
        </li>           
        <li>
            <a href="#services__section">services</a>
        </li>         
        <li>
            <a href="#portfolio__section">portfolio</a>
        </li>           
        <li>
            <a href="#about__us__content">about us</a>
        </li>          
        <li>
            <a href="#contact__content">contact</a>
        </li>   
        <li>
            <a href="#">book online</a>
        </li>
    </ul>
</nav>