<div class="social__icons__container">
    <ul class="social__icons__container__ul">
        <li>
            <a href="#">
                <img src="assets/images/Facebook.png">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="assets/images/Pinterest.png">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="assets/images/Instagram.png">
            </a>
        </li>
    </ul>
</div>